<div class="row justify-content-md-center">
  <div class="col-12">
    <%= form_for [ :admin, @faq_category ] do |f| %>
      <h2 class="form-heading"><%= heading %></h2>

      <% fi = FormItem.new(f) %>
      <%= fi.text_field(:title, 'title') %>
      <%= f.submit('Save It', class: 'btn btn-primary', value: 'save') %>
      <a href="#" onclick="history.back();" class="ml-4">cancel</a>
    <% end %>
  </div>
</div>
