<h1>Edit User Info</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_for @user do |f| %>
      <% fi = FormItem.new(f) %>

      <%= fi.text_field(:email, 'email') %>
      <%= fi.checkbox_collection(:roles, User.roles.values, :to_s, :to_s) %>
      <%= fi.submit('Make it happen!') %>
    <% end %>
  </div>
</div>