<h1>Change Password</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_for @user, url: update_password_user_path(@user), method: :put do |f| %>
      <% fi = FormItem.new(f) %>

      <%= fi.password(:password, 'password') %>
      <%= fi.password(:password_confirmation, 'confirm password') %>
      <%= fi.submit('Make it happen!') %>
    <% end %>
  </div>
</div>