<div class="row">
  <div class="col-md-12">
    <%= form_for [ :admin, @user ], url: request_password_reset_admin_login_path do |f| %>
      <% fi = FormItem.new(f) %>

      <%= fi.text_field(:email, 'reset email') %>
      <%= fi.submit('Send Password Reset Email') %>
    <% end %>
  </div>
</div>