<% page_title 'Thanks for Contacting Us' %>
<% meta_description 'Your message has been received and someone will respond shortly.' %>

<section class="section-black section-center">
  <div class="container">
    <h1>Thank you for contacting us.</h1>
    <p>
      Your message has been sent. Someone will respond as soon as possible.
    </p>
  </div>
</section>