<% page_title @post.title %>
<% meta_description @post.meta_description %>

<section class="section-white">
  <div class="container <%= @post.css_class %>">
    <%= @post.content %>
  </div>
</section>