/*
 * Bootstrap Variables:
 *   https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss
 */
@import 'bootstrap';
//@import "actiontext";

@import 'variables';
@import 'sections';
@import 'flash';
@import 'forms';
@import 'links';
//@import "lists";
//@import "tables";
@import "navigation";
@import "login";
@import "footer";
//@import "testimonials";
//@import "process";
//@import "admin_faq";
//@import "faqs";
//@import "offering_links";

/*
 * Specific page imports below here.
 */
//@import "home";
//@import "contact_us";
//@import "blogs";

html {
  font-size: 16px;
}

body, pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

pre {
  white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 96%;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }

    h5 {
      font-size: 1.5rem;
    }
  }
}