#footer {
  border-top: solid 1px var(--brand-gray);
  margin-top: 1rem;
  padding: 0.5rem 0;
  background-color: var(--brand-light-gray);
  font-size: 0.9rem;

  .container {
    line-height: 3rem;
  }

  .container::after {
    content: "";
    display: table;
    clear: both;
  }

  .list-group-horizontal {
    float: right;

    li {
      padding: 0.1rem 1rem;
      background-color: transparent;
      border: none;

      a {
        color: var(--footer-links);
      }
    }
  }
}